<div id="book-management" class="container">
    <div class="left-area-wrapper">
        <ul class="top-menu-bar" style="margin-left: 4px;">
            <li class="bar-item"><a href="/management/users">所有</a></li>
    		<li class="bar-item"><a href="/management/users/normal">未禁言的</a></li>
    		<li class="bar-item"><a href="/management/users/ban">已禁言的</a></li>
            <li class="search-item"><i class="fa fa-search"></i><input type="text" name="search" placeholder="搜索"></li>
        </ul>
        {{range .Users}}
        <div class="manage-user-div">
            <div class="manage-user-avatar" style="background-image:url(/static/www/avatar/{{.Avatar}})">
            </div>
            <h2>{{.Name}}</h2>
            <a href="#" class="radius-button radius-button-small">查看资料</a>
            {{if eq .CanComment true}}
            <a href="/management/users/ban" class="radius-button radius-button-small radius-button-warning change-can-comment-btn" data-id="{{.Id}}">禁言</a>
            {{else}}
            <a href="/management/users/ban" class="radius-button radius-button-small radius-button-green change-can-comment-btn" data-id="{{.Id}}">解除禁言</a>
            {{end}}
        </div>
        {{end}}
        {{if gt .Page.PageNums 1}}
        <ul class="page">
        	{{if .Page.HasPrev}}
        		<li><a href="{{.Page.PageLinkFirst}}">第一页</a></li>
        		<li><a href="{{.Page.PageLinkPrev}}">&lt;</a></li>
        	{{else}}
        		<li class="disabled"><a>第一页</a></li>
        		<li class="disabled"><a>&lt;</a></li>
        	{{end}}
        	{{range $index, $page := .Page.Pages}}
        		<li {{if $.Page.IsActive .}}class="active"{{end}}>
        			<a href="{{$.Page.PageLink $page}}">{{$page}}</a>
        		</li>
        	{{end}}
        	{{if .Page.HasNext}}
                <li><a href="{{.Page.PageLinkNext}}">&gt;</a></li>
                <li><a href="{{.Page.PageLinkLast}}">最后一页</a></li>
            {{else}}
                <li class="disabled"><a>&gt;</a></li>
                <li class="disabled"><a>最后一页</a></li>
            {{end}}
        </ul>
        {{end}}
    </div>
    <div class="right-area-wrapper">
        <div class="send-message-box">
            <div class="trigger-menu">
                <div id="broadcast-button" class="trigger-menu-item trigger-menu-item-active">
                    广播
                </div>
                <div id="notification-button" class="trigger-menu-item">
                    通知
                </div>
            </div>
            <div class="send-message-box-content">
                <div id="broadcast">
                    <textarea>要发什么通知给大家......</textarea>
                    <button type="button" class="radius-button radius-button-green">发送</button>
                </div>
                <div id="notification">
                    <input type="text" name="to-username" class="shudong-input-send" placeholder="输入用户名">
                    <textarea>要发什么通知给TA......</textarea>
                    <button type="button" class="radius-button radius-button-green">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>
