/** shudong-blue: 5ab6f3; **/
/** shudong-gray: 565a5c; **/
/** shudong-green-selected: 2CA606; **/
/** shudong-blue: 1396EE; 选中之后比较深的蓝色 **/
/** 可能可以作为一个共有的css进行整合的 **/
/** font-family 写到所有的里面 **/

/** 重置一些样式 **/
body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

a {
	color: #9b9b9b;
	text-decoration: none;
}

a:visited {
	color: #9b9b9b;
	text-decoration: none;
}

.middle {
	margin: 0px auto;
}

.header {
	height: 36px;
	background-color: #2a2a2a;
	margin-bottom: 16px;
	line-height: 36px;
	overflow: hidden;
}

.header i {
	color: #fafafa;
}

.footer {
	border-top: 1px solid #dededa;
	margin-left: 32px;
	margin-right: 32px;
	height: 64px;
	text-align: center;
	line-height: 64px;
	color: #9b9b9b;
	font-size: 12px;
	margin-top: 32px;
}

.header .logo {
	width: 36px;
	height: 36px;
	float: left;
	background-color: #5ab6f3;
}

.header .logo a {
	width: 36px;
	height: 36px;
	display: inline-block;
}

.header .logo img {
	width: 36px;
	height: 36px;
}

.header .search {
	margin-left: 32px;
	float: left;
}

.header .search form {
	display: inline-block;
}

.header .search input {
	background-color: #2a2a2a;
	border: none;
	color: #fafafa;
	text-indent: 8px;
}

.header .menu {
	float: right;
	position: relative;
}

.header .header-menu-item {
	margin: 0px 16px;
}

.header .header-menu-item i {
	position: relative;
}

.header .header-menu-item .new-message div{
	width: 6px;
	height: 6px;
	border-radius: 3px;
	right: 0px;
	top: 0px;
	background-color: #5ab6f3;
	position: absolute;
}

.search-notice {
	color: #4a4a4a;
	font-size: 12px;
	margin-bottom: 16px;
}

.search-notice .keyword {
	color: #5ab6f3;
}

.shudong-a-with-background:hover {
	background-color: #5ab6f3;
	color: #fff;
}

.shudong-header1 {
	font-size: 64px;
	color: #5ab6f3;
	margin-top: 16px;
	margin-bottom: 16px;
}

.shudong-header2 {
	font-size: 36px;
	color: #5ab6f3;
	margin-top: 12px;
	margin-bottom: 12px;
}

/** 一个设置text-align: center;的类 方便一些操作 **/
.text-align-center {
	text-align: center;
}

/** 大的纯文字超链接，灰色，选中时候比较粗 **/
.large-text-button, .large-text-button-selected {
	font-size: 24px;
	color: #9b9b9b;
	text-decoration: none;
	margin-left: 16px;
	margin-right: 16px;
}

.large-text-button-selected, .large-text-button:hover, .large-text-button:visited, .large-text-button:active {
	color: #4a4a4a;
	font-weight: bold;
}

.large-text-button-selected:visited {
	color: #4a4a4a;
	font-weight: bold;
}

input, select {
	margin: 0px;
	padding: 0px;
}

/** 设置label被激活的时候边框的颜色 **/
input:focus {
	outline: none;
	border-color: #5ab6f3;
}

/** 背景颜色 **/
body {
	background-color: #f2f2f2;
	font-family: sans-serif;
}

/** 设置“卡片”的样式 **/
.card {
	background-color: #fff;
	width: 875px;
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.20);
	margin: 0px auto;
}

.card form {
	/* TODO: 这里直接写数值是不是不太好 */
	padding-left: 200px;
	padding-top: 47px;
	padding-bottom: 47px;
	padding-right: 199px;
	overflow: hidden;
}

/** 放置几个按钮的区域 **/
.button-field {
	margin-top: 32px;
	margin-bottom: 32px;
	text-align: center;
}

/** 带图标的input的左边图标区域 **/
.shudong-input-left-div {
	width: 55px;
	height: 50px;
	background-color: #edeeef;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 55px;
}

/** 定制图标的颜色 **/
.shudong-input-left-div i {
	color: #565a5c;
}

/** 带图标的input的右边输入区域 **/
.shudong-input-right-field {
	width: 418px;
	height: 50px;
	border: 1px solid #ccc;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #fff;
	font-size: 20px;
	text-indent: 20px;
	display: inline-block;
	float: left;
}

/** 带图标的input **/
.shudong-input {
	overflow: hidden;
	margin-bottom: 32px;
}

/** 不带图标的input **/
.shudong-normal-input {
	margin-bottom: 16px;
}
.shudong-normal-input label {
	font-size: 14px;
	font-weight: bold;
	display: block;
	line-height: 20px
}
.shudong-normal-input input{
	width: 473px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 10px;
	text-indent: 5px;
	margin-top: 8px;
}

.shudong-normal-input-comment input {
	width: 581px;
}

/* 上面写过input:focus;的，但是这里不起作用，好像是优先级的缘故吧？ */
.shudong-normal-input input:focus{
	border-color: #5ab6f3;
}

.shudong-select {
	margin-bottom: 16px;
}

.shudong-select label {
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
	line-height: 20px;
}

.shudong-select select {
	width: 473px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 10px;
	background-color: #fff;
	-webkit-appearance: none;
	color: #4a4a4a;
	text-indent: 5px;
	box-sizing: content-box;
}

.shudong-select select:focus, .shudong-select select:active {
	border-color: #5ab6f3;
}

/** 圆角按钮 **/
.radius-button {
	width: 475px;
	height: 52px;
	border-radius: 4px;
	font-size: 20px;
	border-width: 0px;
	background-color: #5ab6f3;
	color: white;
}

.radius-button-small {
	width: auto;
	height: auto;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 14px;
	display: block;
}

/** 专门为a标签写的一个，有许多不好的地方 **/
/** 首先要解决的一个问题是宽度和高度自适应的问题 **/
a.radius-button-small {
	color: white;
	width: 66px;
	height: 30px;
	padding: 0px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	display: block;
}

a.radius-button-middle {
	color: white;
	width: 87px;
	height: 38px;
	padding: 0px;
	text-align: center;
	line-height: 38px;
	font-size: 16px;
	display: block;
}

.radius-button:hover {
	background-color: #1396ee;
	cursor: pointer;
}

.radius-button-disable {
	background-color: #86CBF9;
}
.radius-button-disable:hover {
	background-color: #86CBF9;
	cursor: not-allowed;
}

.radius-button-green {
	background-color: #5cb85c;
	color: white;
}

.radius-button-green:hover {
	background-color: #2ca606;
}

.radius-button-gray {
	background-color: #ccc;
	color: white;
}

.radius-button-gray:hover {
	background-color: #666;
}

.radius-button-warning {
	background-color: #d9534f;
	color: white;
}

.radius-button-warning:hover {
	background-color: #d0021b;
}

.avatar input[type="file"] {
	display: none;
}

.avatar {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	background-color: #ccc;
	display: block;
	background: url(../avatar.png) no-repeat center center;
	background-size: 36px;
	margin-bottom: 16px;
}

.avatar-preview {
	display: none;
}

#avatar-preview-img {
	width: 56px;
	height: 56px;
	border-radius: 28px;
	background-color: #ccc;
	display: block;
	margin-bottom: 16px;
}

.avatar-title {
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
	line-height: 20px;
}

.profile-field {
	margin-bottom: 16px;
}

.profile-field h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 8px;
}

.profile-field p{
	font-size: 13px;
	color: #4a4a4a;
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.margin-top-32 {
	margin-top: 32px;
}

#forget-password {
	display: block;
	float: right;
	margin-top: 16px;
}

#avatar-form {
	padding-bottom: 0px;
}

#profile-form {
	padding-top: 0px;
}

/** 个人信息页面 **/

/** 顶部菜单的样式 **/
.top-menu-bar {
	width: 613px;
	height: 42px;
	border: 1px solid #dededa;
	background-color: #fafafa;
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.20);
	overflow: hidden;
}

.top-menu-bar .bar-item {
	padding: 0px 16px;
	line-height: 44px;
	height: 44px;
	border-right: 1px solid #dededa;
	float: left;
}

.top-menu-bar .bar-item-selected, .top-menu-bar .bar-item:hover {
	background-color: #fff;
}

.top-menu-bar .bar-item a {
	height: 44px;
	font-size: 12px;
	display: block;
}

.top-menu-bar .search-item {
	border-left: 1px solid #dededa;
	line-height: 44px;
	float: right;
}

.top-menu-bar .search-item input {
	width: 84px;
	height: 14px;
	border: none;
	margin-right: 16px;
	margin-left: 16px;
	line-height: 44px;
	background-color: #fafafa;
}

.top-menu-bar .search-item i {
	margin-left: 16px;
	color: #4a4a4a;
}

/** 发布书的管理样式 **/
.publish-book-div {
	width: 613px;
	height: 188px;
	background-color: #fff;
	border: 1px solid #dededa;
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.20);
	margin: 32px 0px;
	overflow: hidden;
}

.order-attr {
	height: 223px;
}

.publish-book-div img {
	width: 132px;
	height: 190px;
	float: left;
}

/** 订单的样式 **/

.publish-book-div .publish-book-top-wrapper {
	height: 190px;
	overflow: hidden;
}

.publish-book-div .bottom-info {
	border-top: 1px solid #dededa;
	height: 32px;
	background-color: #fafafa;
	line-height: 32px;
	overflow: hidden;
}

.publish-book-div .bottom-info img {
	width: 24px;
	height: 24px;
	border-radius: 12px;
	margin-top: 5px;
	margin-right: 16px;
	margin-left: 8px;
	float: right;
}

.publish-book-div .bottom-info a {
	font-size: 12px;
	float: right;
}
/** 订单样式的结束 **/

.publish-book-div .book-info {
	margin-left: 16px;
	margin-top: 16px;
	float: left;
}

.publish-book-div li {
	margin-bottom: 12px;
	font-size: 12px;
}

.publish-book-div .book-info .title {
	font-size: 14px;
	color: #5ab6f3;
}

.publish-book-div .book-info .title a:visited {
	color: #5ab6f3;
}

/** 因为优先级的关系，一开始没考虑好，先暂时这样吧 **/
.publish-book-div .book-info .title a:hover {
	background-color: #5ab6f3;
	color: #fff;
}

.publish-book-div .book-info .price {
	font-size: 18px;
}

.publish-book-div .edit {
	margin-top: 7px;
	margin-right: 32px;
	float: right;
}

.seprate {
	width: 1px;
	height: 159px;
	border-left: 1px dashed #e6e6e6;
	margin-top: 16px;
	margin-right: 31px;
	float: right;
}

/** message **/
.message-div {
	width: 613px;
	background-color: #fff;
	border: 1px solid #dededa;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
	margin: 16px 0px;
	overflow: hidden;
	font-size: 12px;
}

.message-div p {
	margin: 16px;
}

.read-button {
	margin-left: 16px;
	float: right;
	margin-right: 16px;
}

/** 用户信息区域 **/

.profile-div {
	width: 291px;
	background-color: #fff;
	border: 1px solid #dededa;
	float: right;
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.20);
	margin-right: 2px;
	margin-bottom: 2px;
}

.profile-div .profile-info {
	margin-left: 16px;
	margin-right: 16px;
}

.profile-div .profile-info .avatar-area {
	padding: 19px 0px;
	overflow: hidden;
}

.profile-div .profile-info .avatar-area img {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	float: left;
}

.profile-div .profile-info .avatar-area .basic-info {
	margin-left: 8px;
	float: left;
}

.profile-div .profile-info .avatar-area .basic-info p {
	margin: 0px;
	padding: 0px;
}

.profile-div .profile-info .avatar-area .basic-info .username {
	font-size: 14px;
}

.profile-div .profile-info .avatar-area .basic-info .address {
	font-size: 12px;
	color: #9b9b9b;
}

.profile-div .profile-info .avatar-area .basic-info a {
	color: #4a4a4a;
}

.profile-div .profile-info .avatar-area .basic-info a:hover {
	background-color: #5ab6f3;
	color: #fff;
}

.profile-div .profile-info li {
	font-size:12px;
	color:#535353;
	line-height:17px;
	text-align:left;
	margin-bottom: 8px;
}

.menu-area {
	font-size: 12px;
}

.menu-area .menu-area-item {
	height: 34px;
	line-height: 34px;
	border-top: 1px solid #dededa;
	padding-left: 16px;
	background-color: #fafafa;
}

.menu-area .menu-area-item:hover {
	background-color: #fff;
}

.menu-area .menu-area-item-selected, .menu-area .menu-area-item-selected a {
	background-color: #fff;
	color: #4a4a4a;
}

.menu-area .menu-area-item a {
	width: 100%;
	display: block;
}

/** 发布图书页面 **/
.book-pic input[type="file"] {
	display: none;
}

.book-pic {
	width: 66px;
	height: 95px;
	background-color: #ccc;
	border-radius: 4px;
	display: block;
	background-size: 36px;
	margin-bottom: 16px;
	overflow: hidden;
}

.book-pic img {
	width: 66px;
	height: 95px;
}

.book-pic-title {
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
	line-height: 20px;
}

/** lab **/
.container {
	width: 938px;
	margin: 0px auto;
	overflow: hidden;
}

.left-area-wrapper {
	width: 615px;
	float: left;
}

.right-area-wrapper {
	width: 300px;
	float: right;
	overflow: hidden;
}

.book-card {
	background:#ffffff;
	border:1px solid #dedada;
	box-shadow:0px 1px 2px 0px rgba(0,0,0,0.20);
	width:291px;
	height:188px;
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 26px;
	margin-bottom: 26px;
}

.book-card a:hover {
	background-color: #5ab6f3;
	color: #fff;
}

.book-card>img {
	width: 132px;
	height: 190px;
	float: left;
}

.book-card>ul {
	width: 143px;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 12px;
	float: left;
}

.book-card>ul li {
	margin-top: 8px;
	margin-bottom: 8px;
}

.book-card .title {
	font-size: 14px;
	color: #5ab6f3;
}

.book-card .price {
	font-size: 18px;
}

.book-card-wrapper {
	margin-right: -50px;
	overflow: hidden;
}

.book-card .book-card-user {
	position: absolute;
	bottom: 8px;
	right: 8px;
}

.book-card .book-card-user a {
	line-height: 24px;
	font-size: 12px;
}

.book-card .book-card-user img {
	margin-left: 8px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	vertical-align: middle;
}

.page {
	text-align: center;
}

.comment-page {
	float: right;
	padding-right: 8px;
	padding-bottom: 8px;
}

.comment-page li{
	display: inline-block;
	font-size: 12px;
	padding: 0px 6px;
	line-height: 20px;
}

.page li{
	display: inline-block;
	font-size: 12px;
	padding: 0px 6px;
	line-height: 20px;
}

.page .active, .comment-page .active {
	background-color: #5ab6f3;
	color: #fff;
}
.page .active a, .comment-page .active a{
	color: #fff;
}

/** 详情界面 **/
.detail-book-card {
	width: 613px;
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.20);
	margin-bottom: 20px;
	border: 1px solid #dededa;
	background-color: #fafafa;
	float: left;

}

.detail-book-card .detail-book-card-top {
	width: 613px;
	height: 298px;
	background-color: #fff;
	border-bottom: 1px solid #dededa;
	position: relative;
}

.detail-book-card .detail-book-card-top img {
	width: 206px;
	height: 298px;
	float: left;
}

.detail-book-card .detail-book-card-top ul {
	width: 384px;
	font-size: 12px;
	margin-left: 16px;
	float: left;
}

.detail-book-card .detail-book-card-top li {
	margin: 8px 0px;
}

.detail-book-card .detail-book-card-top .title, .detail-book-card .detail-book-card-top .price {
	font-size: 20px;
}

.detail-book-card .detail-book-card-top .title {
	color: #5ab6f3;
	margin-top: 16px;
}

.detail-book-card .detail-book-card-top .buy-button {
	position: absolute;
	bottom: 15px;
	left: 223px;
}

.detail-book-card .detail-book-card-bottom .tab-menu li {
	padding-left: 14px;
	padding-right: 14px;
	font-size: 14px;
	height: 24px;
	border-top: 4px solid #fafafa;
	display: inline-block;
	color: #9b9b9b;
	cursor: pointer;
}

.detail-book-card .detail-book-card-bottom .tab-menu .item-selected {
	border-color: #5ab6f3
}

.detail-book-card .detail-book-card-bottom .blue-bar {
	background-color: #5ab6f3;
	height: 4px;
}

.detail-book-card .detail-book-card-bottom .introduction {
	margin: 16px;
	font-size: 14px;
	color: #4a4a4a;
}

.detail-book-card .detail-book-card-bottom .comment {
	margin: 16px;
	font-size: 12px;
	line-height: 17px;
	color: #4a4a4a;
}

.detail-book-card .detail-book-card-bottom .comment .comment-div {
	position: relative;
	margin-bottom: 16px;
	overflow: hidden;
}

.detail-book-card .detail-book-card-bottom .comment .comment-div img {
	width: 36px;
	height: 36px;
	border-radius: 18px;
	background-color: red;
	float: left;
}

.detail-book-card .detail-book-card-bottom .comment .comment-div .comment-wrapper {
	margin-left: 12px;
	margin-bottom: 16px;
	float: left;
}

.detail-book-card .detail-book-card-bottom .comment .comment-div .comment-wrapper>a {
	margin: 0px;
	color: #5ab6f3;
}

.detail-book-card .detail-book-card-bottom .comment .comment-div .horizontal-sep {
	border-bottom: 1px dashed #e6e6e6;
	clear: both;
}

.comment a {
	color: #5ab6f3;
}

/** 该卖家还提供 **/
/** 问题记录：
由于默认的css盒子模型不把阴影计算在里面
当将带有阴影的进行浮动的时候，会出现阴影消失的情况
**/
.other-book-div {
	width: 291px;
	float: right;
	overflow: hidden;
	border: 1px solid #dededa;
	padding-bottom: 16px;
	margin-top: 32px;
	background-color: #fafafa;
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.20);
	margin-right: 2px;
}

.other-book-div>div {
	width: 293px;
	height: 48px;
	background-color: #fff;
	font-size: 12px;
	color: #4a4a4a;
	padding-left: 16px;
	line-height: 49px;
	border-bottom: 1px solid #dededa;
}

.other-book-div>ul {
	width: 293px;
	overflow: hidden;
	background-color: #fafafa;
}

.other-book-div li {
	width: 123px;
	height: 123px;
	margin-left: 16px;
	margin-top: 16px;
	float: left;
	overflow: hidden;
}

.other-book-div img {
	width: 123px;
}

.report {
	font-size: 12px;
	margin-top: 8px;
	margin-left: 4px;
	float: left;
}

.alert-div {
	width: 300px;
	padding: 32px 32px;
	background-color: #fff;
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.20);
	font-size: 16px;
	text-align: center;
	margin: 64px auto;
	color: #4a4a4a;
}

.alert-div a {
	color: #5ab6f3;
	font-size: 14px;
}

.letterlist {
	float:left
}

.letters {
	float:left
	width: 512px;
}

.new-letter div{
	width: 6px;
	height: 6px;
	border-radius: 3px;
	right: 0px;
	top: 0px;
	background-color: #5ab6f3;
	position: absolute;
}
