
.manage-item{
	background:#ffffff;
border:1px solid #dedada;
box-shadow:0px 1px 2px 0px rgba(0,0,0,0.20);
width:291px;
height:94px;
}
#black-book-picture {
	width: 56px;
	height: 64px;
	padding-left: 16px;
	padding-top: 16px;
}
#blue-book-picture{
	width: 56px;
	height: 64px;
	padding-left: 16px;
	padding-top: 16px;
}
.item-name{
	padding-left: 88px;
	position: relative;
	bottom: 85px;
	font-family:"微软雅黑";
font-size:16px;
color:#4a4a4a;
line-height:22px;
}
.item-quantity span{
font-family:"微软雅黑";
font-size:36px;
color:#4a4a4a;
line-height:50px;
padding-left: 88px;

}
.item-quantity{
position: relative;
bottom: 100px;	
}
#book-item{
	position: relative;
	left: 130px;
	bottom: 260px;
}
#black-head-picture,#yellow-head-picture{
	width: 56px;
	height: 64px;
	padding-top: 16px;
	padding-left: 16px;
}
#user-item{
	position: relative;
	left: 130px;
	bottom: 228px;
}
#blue-book-item{
	position: relative;
	bottom: 200px;
	left: 129px;
}
#yellow-user-item{
	position: relative;
	left: 129px;
	bottom: 170px;
}
#black-message-frame,#green-message-frame{
	width: 56px;
	height: 56px;
	padding-top:20px;
	padding-left: 16px;
}
#black-comment-item{
	position: relative;
	left: 453px;
	bottom: 644px;
}
#black-eye,#red-eye{
	width: 56px;
	height: 42px;
	padding-left: 16px;
	padding-top: 27px;
}
#black-message-item{
	position: relative;
	left: 454px;
	bottom:613px;
}
#green-comment-item{
	position: relative;
	left: 452px;
	bottom: 583px;
}
#red-message-item{
position: relative;
left: 452px;
bottom: 554px;	
}
#input-username{
background:#ffffff;
border:1px solid #cccccc;
border-radius:4px;
width:260px;
height:36px;
font-family:"微软雅黑";
font-size:12px;
color:#999999;
line-height:17px;
position: relative;
left: 14px;
bottom: 20px;

}
.with-username{
	height: 353px;
	position: absolute;
    top: 436px;
}

.unselected{
	background:#fafafa;

}
#under-box textarea{
	position: relative;
	top:0.5px;
}
#under-box button{
	position: relative;
	top: 10px;
}
